global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'inventory-api'
    dns_sd_configs:
      - names:
          - 'tasks.api'
        type: 'A'
        port: 9090
